
<div class="navbar">
<%# create a nav bar with the logo button on left which will take you home %>
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "https://res.cloudinary.com/dl9jjyyew/image/upload/v1662643947/GoodDeed_GD_g4wtuh.png" %>
  <% end %>

<%# if the user is signed in they will see log out %>
  <% if user_signed_in? %>
    <% if admin? %>
      <div class="navbar-item link-to">
        <%= link_to "Create a profile", new_recipient_path %>
      </div>
    <% end %>
      <div class="navbar-item link-to">
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
      </div>
  <% else %>
    <div class="navbar-item link-to">
      <%= link_to "Login", new_user_session_path %>
    </div>
  <% end %>
</div>

<%# if they are an admin they will see a create a profile button which will take them to the create page %>
