<div class ="container" data-controller="amount">
  <hr class="solid">
  <h1 class="title-blue">Hello <%= user_name %> </h1> <br>
  <p class="p-blue"> Enter the amount you would like to donate</p>

  <%= simple_form_for([@recipient, @donation]) do |f| %>
    <%= f.input :message,
                :label => false,
                placeholder: "Leave a message",
                :input_html => { :class => 'form-inputs'} %>
    <%= f.input :amount,
                :label => false,
                placeholder: "Enter amount",
                :input_html => { :class => 'form-inputs'}  %>
    <div class="d-flex justify-content-center">
      <ul>
        <button data-action="click->amount#donate" type="button" class="btn-orange-sml bold-text">£3</button>
        <button data-action="click->amount#donate"type="button" class="btn-orange-sml bold-text">£5</button>
        <button data-action="click->amount#donate" type="button" class="btn-orange-sml bold-text">£7</button>
      </ul>
    </div>
    <div class="form-actions d-flex justify-content-center" id= "new_donation">
      <%= f.button :submit, "Change a life!", class:"btn-blue-sml" %>
    </div>
  <% end %>
  <br>

</div>
