<%# title to welcome the admin with their name %>
<div class="d-flex justify-content-center">
  <h1 class="title-white">Hello <%= current_user.first_name %> </h1>
</div>
  <%# if you are an admin you can create a profile and search %>
  <% if admin? %>
    <div class="d-flex justify-content-center">
      <%= link_to "Create a profile", new_recipient_path, class: "btn-blue-sml" %>
    </div>
    <div class="d-flex justify-content-center">
      <%= form_with url: recipients_path, method: :get, class: "search d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        placeholder: "Search for profile ðŸ”",
        class:'search-form' %>
      <% end %>
    </div>
  <% end %>

  <%# User Actions being represents%>

  <div class="cards d-flex justify-content-center">
    <div class= "row justify-content-between">

        <% if admin? == false %>
          <% if @user.donations.present? %>
            <p class="p-blue">You have donated to...</p>
              <% @donations.each do |donation| %>
                <% recipient = Recipient.find(donation.recipient_id) %>
                <%= link_to recipient_path(recipient) do %>
                  <div class="card">
                    <% if recipient.photo.key.present? %>
                      <%= link_to recipient_path(recipient) do %>
                        <%= cl_image_tag recipient.photo.key, height: 150, width: 150, crop: :fill, class: "image-cropper-index" %>
                        <p class= "p-blue-bigger d-flex justify-content-center names" ><%= recipient.name%></p>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
          <% else %>
          <p class= "p-blue-bigger">You have not donated to anyone, yet</p>
            <div class="d-flex justify-content-center">
              <label for="donate" class="btn-orange-lrg">Donate</label>
              <input type="file" name="photo" id="donate">
            </div>
          <% end %>
        <% end %>

<%# <p><%= link_to recipient.name, recipient_path(recipient), class: "p-blue-bigger d-flex justify-content-center" %>

      <% if admin? %>
          <%# <%= link_to 'new recipient', new_recipient_path  %>
          <% @recipients.each do |recipient| %>
            <div class = "card">
              <% if recipient.photo.key.present? %>
                <%= link_to recipient_path(recipient) do %>
                  <%= cl_image_tag recipient.photo.key, height: 150, width: 150, crop: :fill, class:"image-cropper-index" %>
                  <p class="p-blue d-flex justify-content-center names"><%= recipient.name %></p>
                <% end %>
              <% end %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
