<%# title to welcome the admin with their name %>
<div class="d-flex justify-content-center">
  <h1 class="title-white">Hello <%= current_user.first_name %> </h1>
</div>
  <%# if you are an admin you can create a profile and search %>
  <% if admin? %>
    <div class="d-flex justify-content-center">
      <%= link_to "Create a profile", new_recipient_path, class: "btn-blue-sml" %>
    </div>
    <div class="d-flex justify-content-center">
      <%= form_with url: recipients_path, method: :get, class: "search d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search-box",
        placeholder: "Search for profiles ðŸ”" %>
      <%= submit_tag ""%>
      <% end %>
    </div>
  <% end %>

  <%# User Actions being represents%>

  <div class="cards d-flex justify-content-center">
    <div class= "row">
      <div class="column">
        <% if admin? == false %>
          <% if @user.donations.present? %>
            <p class="p-blue-bigger">You have donated to...</p>
              <% @user.donations.each do |donation| %>
                <% recipient = Recipient.find(donation.recipient_id) %>
                <%= link_to recipient_path(recipient) do %>
                  <div class="card d-flex justify-content-center">
                    <% if recipient.photo.key.present? %>
                      <p class= "p-blue-bigger d-flex justify-content-center" ><%= recipient.name%></p>
                      <%= cl_image_tag recipient.photo.key, height: 300, width: 400, crop: :fill %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
          <% else %>
          <p class= "p-blue-bigger">You have not donated to anyone, yet</p>
          <div class="d-flex justify-content-center">
            <label for="donate" class="btn-orange-lrg">Donate</label>
            <input type="file" name="photo" id="donate">
          </div>
          <% end %>
        <% end %>
      </div>
<%# <p><%= link_to recipient.name, recipient_path(recipient), class: "p-blue-bigger d-flex justify-content-center" %>

      <% if admin? %>
          <%# <%= link_to 'new recipient', new_recipient_path  %>
          <% @recipients.each do |recipient| %>
            <div class = "card d-flex justify-content-center">
              <% if recipient.photo.key.present? %>
                <%= link_to recipient_path(recipient) do %>
                  <p class="p-blue-bigger d-flex justify-content-center"><%= recipient.name %></p>
                  <%= cl_image_tag recipient.photo.key, height: 300, width: 400, crop: :fill %>
                <% end %>
              <% end %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
