<div class="profile-top">
  <%# go back to previous page (index) %>
  <div class ="link-to justify-content-between d-flex m-3">
    <%= link_to recipients_path do %>
    <i class="fa-solid fa-chevron-left" title="Back"></i>
    <% end %>
  </div>

  <div class="white-background">
    <%# recipient name %>
    <h1 class="title-blue small"> <%= @recipient.name.capitalize %> </h1>
      <%# if the recipient has a photo show their picture %>
    <div class="image-cropper my-3">
      <% if @recipient.photo.key.present?%>
        <%= cl_image_tag @recipient.photo.key, height: 300, width: 400, crop: :fill, class: "prof-img" %>
      <% end %>
    </div>


    <%# admin you can edit and delete%>
    <div class="admin-prof">
      <% if admin?  %>
        <div class="link-to d-flex justify-content-center">
          <%# edit a profile %>
          <%= link_to edit_recipient_path do %>
            <i class="fa-solid fa-pen-to-square" title="Edit"> </i>
          <% end %>
          <%# delete a profile %>
          <%= link_to recipient_path(@recipient), data: { "turbo-method": :delete, "turbo-confirm": "are you sure?"} do %>
            <i class="fa-solid fa-trash" title="Delete"> </i>
          <% end %>
        </div>
      <% end %>
    </div>

    <%# recipient bio %>
    <div class="container">
      <p class ="p-blue"><%= @recipient.bio %></p>
      <%# if admin show QR code that has been created %>
      <% if admin? %>
        <div class="m-0">
          <% str = cl_image_path "qr_code#{@recipient.id}.png" %>
          <%# localhost:%>
          <%# <% newPath = str.sub /\/v\d*\/development/, '' %>
          <%# heroku%>
          <% newPath = str.sub /\/v\d*\/production/, '' %>
          <img src="<%= newPath %>" alt="qr-code">
        </div>
      <% end %>
  </div>

    <% if admin? %>
    <%# messages from the donations %>
    <div>
      <p class="italic-bold">Messages</p>
    </div>
    <div>
      <div class="message-product">
        <% @donations.each do |donation| %>
          <hr class="solid">
          <div class="message-product-infos d-flex justify-content-left">
            <h2 class="p-blue">£<%= donation.amount %></h2>
            <p class="p-blue"><%= donation.message %></p>
          </div>
            <div class="justify-content-right">
              <p class="p-blue-sml"><%= donation.created_at.strftime("%d %b") %></p>
            </div>
        <% end %>
    </div>
    <% end %>

  <%#  if user you will be able to donate here%>
  <% if !admin? %>
    <div class="d-flex sflex-column">
      <div class="m-auto">
        <%# show a link to my donations so i can see them all %>
        <%# render "new_donation" %>
        <%= render "new_donation", donation: @donation %>
      </div>
    </div>
  <% end %>
</div>
