<div class="container">
  <div>
    <h1 class="title-white small text-left">Thank you <%= user_name %> </h1>
  </div>
  <div>
    <p class="p-blue-bigger">You're making the world a better place!</p>
  </div>
    <% if user_signed_in? %>
      <div class="d-flex justify-content-center">
        <%= link_to "My donations", recipients_path, class: "btn-blue-lrg d-flex" %>
      </div>
    <% else %>
      <div class="d-flex justify-content-center">
        <%= link_to "Create Account", new_user_registration_path, class: "btn-blue-lrg d-flex" %>
      </div>
    <% end %>
  <div>
    <p class="italic-bold ml-1">Feel free to share your good deed of the day:</p>
  </div>
  <div class="d-flex justify-content-around">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
  </div>
</div>


  <%# <div class="donate-top" data-controller="payment">
    <h1 class="title-blue">Hello <%= user_name %>
    <%# <p class="p-blue"> Enter the amount you would like to donate</p>

    <%= simple_form_for([@recipient, @donation], html: { data: { payment_target: "form"}, data: { action: "submit -> payment#preventRefresh"},class: "form"} ) do |f|  %>
    <%#= simple_form_for([@recipient, @donation], html: { id: :donation_form, data: { payment_target: "form"}, data: { action: "submit -> payment#preventRefresh"},class: "form"})  do |f|  %>
    <%# <%= f.input :amount, class: '' %>
      <%# <ul>
        <button type="button" class="btn-orange-sml bold-text">£3</button>
        <button type="button" class="btn-orange-sml bold-text">£5</button>
        <button type="button" class="btn-orange-sml bold-text">£7</button>
      </ul> %>
        <%# <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /> %>
        <%# <label class="form-check-label" for="flexCheckDefault">Click to add gift aid</label>
    <%= f.submit "Confirm" %>
    <%# <% end %>
